extends layout
  
block content
  .script(src="/js/masonry.pkdg.min")
  .blargle
    img.image(src="/assets/logo.PNG", alt="Snazz Industries")
    p.lead Lego Arbitrage and Lego Reselling: How to make money with Lego
  hr.header-line-thick

  div.grid
    div(class="grid-item grid-item--sidebar")
      img.image(src="/assets/logo.PNG", alt="Snazz Industries")
    each set in data
      div(class="grid-item grid-item--story")
        h4=set.ASIN
        a(href=set.URL) 
          img.image(src=set.Image, alt="Something is fucked")
        a(href=set.URL) 
          p= ('Price Now: ' + set.NewPrice)
        p='Price Originally: ' + set.OriginPrice
        p='Profit: $' + set.Profit
        p='Return on Investment: ' + set.ROI + '%' 
        p
          a.btn.btn-default(href='#', role='button') View details »