extends layout

block content
  h1 !{title}
  p.lead A boilerplate for Node.js web applications.
  hr
  .row
    each set in data
      .col-sm-6
      h4=set.ASIN
      img.image(src=set.Image, alt="Something is fucked")
      p='Price Now: ' + set.NewPrice
      p !{data}
      p
        a.btn.btn-default(href='#', role='button') View details »