extends layout

block content
  h1 !{title}
  p.lead A boilerplate for Node.js web applications.
  hr
  .row
    each set in data
      .col-sm-6
      h4=set.ASIN
      a(href=set.URL) 
        img.image(src=set.Image, alt="Something is fucked")
      a(href=set.URL) 
        p= ('Price Now: ' + set.NewPrice)
      p='Price Originally: ' + set.OriginPrice
      p='Profit: ' + set.Profit
      p='Return on Investment: ' + set.ROI 
      p
        a.btn.btn-default(href='#', role='button') View details »