extends layout
  
block content
  .script(src="/js/masonry.pkdg.min")
  .blargle
    img.image(src="/assets/logo.PNG", alt="Snazz Industries")
    p.lead Lego Arbitrage and Lego Reselling: How to make money with Lego
  hr.header-line-thick

  div.grid
    div(class="grid-item grid-item--sidebar")
      img.image(class="story-img", src="/assets/logo.PNG", alt="Snazz Industries")
    div(class="grid-item grid-item--story")
      h2="Best Lego Investments in the Past 5 Years"
      img.image(class="story-img", src="/assets/test.jpg", alt="Snazz Industries")
      p="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
    each set in data
      div(class="grid-item grid-item--story")
        h4=set.ASIN
        a(href=set.URL) 
          img.image(src=set.Image, alt="Something is fucked")
        a(href=set.URL) 
          p= ('Price Now: ' + set.NewPrice)
        p='Price Originally: ' + set.OriginPrice
        p='Profit: $' + set.Profit
        p='Return on Investment: ' + set.ROI + '%' 
        p
          a.btn.btn-default(href='#', role='button') View details »